## Import libraries and config Pandas display

In [18]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [19]:
pd.options.display.max_columns = 25
pd.options.display.max_rows = 100

## Import Dataset

#### Read CSV

In [20]:
winery = pd.read_csv("../data/Winery_Data_csv.csv")
winery.head()

,Customer ID,Order ID,Customer Segment,Date,Zip Code,State,Sales 2008,Sales 2009,Sales 2010,Sale Amount,Orders 2008,Orders 2009,Orders 2010,Year Acquired,Email Subscr,Newsletter Subscr,Winemaker call,Email Sales,Newsletter Sales,Tasting Room Sales,Winemaker Call Sales
0,1,1532,High Roller,08-Jul-08,33467,FL,213.0,30903.1,13340.94,44.0,4.0,8.0,4.0,2008,1,1,1,0.0,0.0,44.0,0.0
1,1,14378,High Roller,05-Oct-08,33467,FL,213.0,30903.1,13340.94,47.0,4.0,8.0,4.0,2008,1,1,1,0.0,0.0,47.0,0.0
2,1,17690,High Roller,26-Oct-08,33467,FL,213.0,30903.1,13340.94,57.0,4.0,8.0,4.0,2008,1,1,1,0.0,57.0,0.0,0.0
3,1,19808,High Roller,08-Nov-08,33467,FL,213.0,30903.1,13340.94,65.0,4.0,8.0,4.0,2008,1,1,1,0.0,0.0,65.0,0.0
4,1,25406,High Roller,02-Jan-09,33467,FL,213.0,30903.1,13340.94,3889.0,4.0,8.0,4.0,2008,1,1,1,0.0,0.0,3889.0,0.0

#### Print basic attributes

In [21]:
print(winery.dtypes, "\n")
print("Dataframe shape:", winery.shape, "\n")
print(winery.info())

Customer ID               int64
Order ID                  int64
Customer Segment         object
Date                     object
Zip Code                  int64
State                    object
Sales 2008              float64
Sales 2009              float64
Sales 2010              float64
Sale Amount             float64
 Orders 2008            float64
Orders 2009             float64
Orders 2010             float64
Year Acquired             int64
Email Subscr              int64
Newsletter Subscr         int64
Winemaker call            int64
Email Sales             float64
Newsletter Sales        float64
Tasting Room Sales      float64
Winemaker Call Sales    float64
dtype: object

Dataframe shape: (65534, 21)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65534 entries, 0 to 65533
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Customer ID           65534 non-null  int64
 1   Order ID              65534 non-null  int64
 2   Customer Segment      65534 non-null  object
 3   Date                  65534 non-null  object
 4   Zip Code              65534 non-null  int64
 5   State                 65528 non-null  object
 6   Sales 2008            65534 non-null  float64
 7   Sales 2009            65534 non-null  float64
 8   Sales 2010            65534 non-null  float64
 9   Sale Amount           65534 non-null  float64
 10   Orders 2008          64851 non-null  float64
 11  Orders 2009           64851 non-null  float64
 12  Orders 2010           64851 non-null  float64
 13  Year Acquired         65534 non-null  int64
 14  Email Subscr          65534 non-null  int64
 15  Newsletter Subscr     65534 non-null  int64
 16  Winemaker call        65534 non-null  int64
 17  Email Sales           65534 non-null  float64
 18  Newsletter Sales      65534 non-null  float64
 19  Tasting Room Sales    65534 non-null  float64
 20  Winemaker Call Sales  65534 non-null  float64
dtypes: float64(11), int64(7), object(3)
memory usage: 10.5+ MB
None

## Data cleaning & transformation

#### Check for NAs

In [22]:
winery.columns = winery.columns.str.replace(' ', '')
winery.rename(columns={"Winemakercall": "WinemakerCallSubscr"}, inplace = True)
print(winery.isna().sum())

CustomerID               0
OrderID                  0
CustomerSegment          0
Date                     0
ZipCode                  0
State                    6
Sales2008                0
Sales2009                0
Sales2010                0
SaleAmount               0
Orders2008             683
Orders2009             683
Orders2010             683
YearAcquired             0
EmailSubscr              0
NewsletterSubscr         0
WinemakerCallSubscr      0
EmailSales               0
NewsletterSales          0
TastingRoomSales         0
WinemakerCallSales       0
dtype: int64

#### Investigate NA Orders

In [23]:
orders_na_condition = (winery["Orders2008"].isna()) | (winery["Orders2009"].isna()) | (winery["Orders2010"].isna())
winery_order_nas = winery.loc[orders_na_condition, :]
winery_order_nas.sample(5)

,CustomerID,OrderID,CustomerSegment,Date,ZipCode,State,Sales2008,Sales2009,Sales2010,SaleAmount,Orders2008,Orders2009,Orders2010,YearAcquired,EmailSubscr,NewsletterSubscr,WinemakerCallSubscr,EmailSales,NewsletterSales,TastingRoomSales,WinemakerCallSales
56966,18807,34998,Casual Visitor,09-Apr-09,71303,LA,0.0,73.0,0.0,73.0,NaN,NaN,NaN,2009,0,1,0,0.0,0.0,73.0,0.0
47603,14506,70931,Luxury Estate,31-Dec-09,10007,NY,0.0,92.0,0.0,92.0,NaN,NaN,NaN,2008,1,1,0,0.0,0.0,92.0,0.0
56418,18502,43424,Casual Visitor,30-Jun-09,91316,CA,0.0,73.0,0.0,73.0,NaN,NaN,NaN,2008,0,1,0,0.0,0.0,73.0,0.0
12118,2626,36125,Wine Enthusiast,21-Apr-09,98101,WA,0.0,0.0,0.0,334.0,NaN,NaN,NaN,2008,0,0,0,0.0,0.0,334.0,0.0
4192,918,69305,High Roller,23-Dec-09,83401,ID,0.0,671.0,0.0,671.0,NaN,NaN,NaN,2005,0,1,0,0.0,0.0,671.0,0.0

#### Investigate NA States

In [ ]:
state_na_condition = (winery["State"].isna())
winery_state_nas = winery.loc[state_na_condition, :]
winery_state_nas.sample(5)

#### Drop NAs

In [24]:
winery = winery.dropna(ignore_index = True)     # ignore_index resets the row labels to 0 -> n-1 after dropping NA rows
print(winery.isna().sum(), "\n")
print("Shape", winery.shape)

CustomerID             0
OrderID                0
CustomerSegment        0
Date                   0
ZipCode                0
State                  0
Sales2008              0
Sales2009              0
Sales2010              0
SaleAmount             0
Orders2008             0
Orders2009             0
Orders2010             0
YearAcquired           0
EmailSubscr            0
NewsletterSubscr       0
WinemakerCallSubscr    0
EmailSales             0
NewsletterSales        0
TastingRoomSales       0
WinemakerCallSales     0
dtype: int64

Shape (64845, 21)

#### Configure column types

In [25]:
winery["Date"] = pd.to_datetime(winery["Date"], format="%d-%b-%y")
winery = winery.astype({"CustomerID": object,
                        "OrderID": object,
                        "Orders2008": int,
                        "Orders2009": int,
                        "Orders2010": int, 
                        "EmailSubscr": bool,
                        "NewsletterSubscr": bool, 
                        "WinemakerCallSubscr": bool, 
                        "ZipCode": object})

categorical_columns = ["CustomerSegment", "State"]
winery[categorical_columns] = winery[categorical_columns].astype("category")

winery.dtypes

CustomerID                     object
OrderID                        object
CustomerSegment              category
Date                   datetime64[ns]
ZipCode                        object
State                        category
Sales2008                     float64
Sales2009                     float64
Sales2010                     float64
SaleAmount                    float64
Orders2008                      int32
Orders2009                      int32
Orders2010                      int32
YearAcquired                    int64
EmailSubscr                      bool
NewsletterSubscr                 bool
WinemakerCallSubscr              bool
EmailSales                    float64
NewsletterSales               float64
TastingRoomSales              float64
WinemakerCallSales            float64
dtype: object

#### Filter for valid US states

In [32]:
us_states = ['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS',
                          'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY',
                          'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY']
winery = winery[winery["State"].isin(us_states)]

#### Map states to division

In [33]:
state_to_division = {
    'AL': 'East South Central',
    'AK': 'Pacific',
    'AZ': 'Mountain',
    'AR': 'West South Central',
    'CA': 'Pacific',
    'CO': 'Mountain',
    'CT': 'New England',
    'DE': 'South Atlantic',
    'FL': 'South Atlantic',
    'GA': 'South Atlantic',
    'HI': 'Pacific',
    'ID': 'Mountain',
    'IL': 'East North Central',
    'IN': 'East North Central',
    'IA': 'West North Central',
    'KS': 'West North Central',
    'KY': 'East South Central',
    'LA': 'West South Central',
    'ME': 'New England',
    'MD': 'South Atlantic',
    'MA': 'New England',
    'MI': 'East North Central',
    'MN': 'West North Central',
    'MS': 'East South Central',
    'MO': 'West North Central',
    'MT': 'Mountain',
    'NE': 'West North Central',
    'NV': 'Mountain',
    'NH': 'New England',
    'NJ': 'Middle Atlantic',
    'NM': 'Mountain',
    'NY': 'Middle Atlantic',
    'NC': 'South Atlantic',
    'ND': 'West North Central',
    'OH': 'East North Central',
    'OK': 'West South Central',
    'OR': 'Pacific',
    'PA': 'Middle Atlantic',
    'RI': 'New England',
    'SC': 'South Atlantic',
    'SD': 'West North Central',
    'TN': 'East South Central',
    'TX': 'West South Central',
    'UT': 'Mountain',
    'VT': 'New England',
    'VA': 'South Atlantic',
    'WA': 'Pacific',
    'WV': 'South Atlantic',
    'WI': 'East North Central',
    'WY': 'Mountain',
}

winery["Division"] = winery["State"].map(state_to_division)
winery.sample(5)[["CustomerID", "OrderID", "State", "Division"]]

      CustomerID OrderID State            Division
4535        1081   61260    MA         New England
16626       3960   65203    AZ            Mountain
3763         853   61954    NH         New England
14869       3481    6399    ND  West North Central
15272       3566   70250    TX  West South Central

#### Map states to region

In [42]:
state_to_region = {
    'AL': 'South',
    'AK': 'West',
    'AZ': 'West',
    'AR': 'South',
    'CA': 'West',
    'CO': 'West',
    'CT': 'Northeast',
    'DE': 'South',
    'FL': 'South',
    'GA': 'South',
    'HI': 'West',
    'ID': 'West',
    'IL': 'Midwest',
    'IN': 'Midwest',
    'IA': 'Midwest',
    'KS': 'Midwest',
    'KY': 'South',
    'LA': 'South',
    'ME': 'Northeast',
    'MD': 'South',
    'MA': 'Northeast',
    'MI': 'Midwest',
    'MN': 'Midwest',
    'MS': 'South',
    'MO': 'Midwest',
    'MT': 'West',
    'NE': 'Midwest',
    'NV': 'West',
    'NH': 'Northeast',
    'NJ': 'Northeast',
    'NM': 'West',
    'NY': 'Northeast',
    'NC': 'South',
    'ND': 'Midwest',
    'OH': 'Midwest',
    'OK': 'South',
    'OR': 'West',
    'PA': 'Northeast',
    'RI': 'Northeast',
    'SC': 'South',
    'SD': 'Midwest',
    'TN': 'South',
    'TX': 'South',
    'UT': 'West',
    'VT': 'Northeast',
    'VA': 'South',
    'WA': 'West',
    'WV': 'South',
    'WI': 'Midwest',
    'WY': 'West',
}

winery["Region"] = winery["State"].map(state_to_region)
winery.sample(5)[["State", "Region", "Division"]]

      State     Region            Division
39862    NY  Northeast     Middle Atlantic
5144     VA      South      South Atlantic
46206    IL    Midwest  East North Central
58749    VA      South      South Atlantic
60922    FL      South      South Atlantic

In [51]:
year_acquired_condition = (winery["Date"].dt.year < winery["YearAcquired"])
winery[year_acquired_condition]
winery.tail(50)[["CustomerID", "OrderID", "Date", "YearAcquired", "EmailSubscr", "NewsletterSubscr", "WinemakerCallSubscr"]]

,CustomerID,OrderID,Date,YearAcquired,EmailSubscr,NewsletterSubscr,WinemakerCallSubscr
64795,22834,68929,2009-12-22,2009,True,True,False
64796,22836,72683,2010-01-10,2005,False,False,False
64797,22836,86411,2010-04-14,2005,False,False,False
64798,22837,14498,2008-10-06,2010,False,False,False
64799,22837,57472,2009-10-06,2010,False,True,False
64800,22838,37086,2009-04-30,2008,False,False,False
64801,22838,48708,2009-08-06,2008,False,True,False
64802,22839,31234,2009-03-03,2010,False,False,False
64803,22839,40883,2009-06-08,2010,False,False,False
64804,22841,64395,2009-11-19,2008,False,False,False
64805,22841,89689,2010-05-12,2008,False,True,False
64806,22842,12538,2008-09-23,2008,False,False,False
64807,22842,55523,2009-09-23,2008,False,False,False
64808,22843,22024,2008-11-21,2010,False,False,False
64809,22843,64925,2009-11-21,2010,False,True,False
64810,22844,37639,2009-05-06,2010,False,False,False
64811,22844,70152,2009-12-26,2010,False,False,False
64812,22845,1632,2008-07-10,2010,False,False,False
64813,22845,45256,2009-07-10,2010,False,True,False
64814,22846,78698,2010-02-16,2010,False,True,False
64815,22847,72746,2010-01-11,2010,True,True,True
64816,22847,93829,2010-06-16,2010,True,False,False
64817,22849,26191,2009-01-12,2008,False,False,False
64818,22849,77200,2010-02-12,2008,False,True,False
64819,22851,5756,2008-08-10,2010,False,False,False
64820,22851,49074,2009-08-10,2010,False,True,False
64821,22852,10948,2008-09-14,2010,True,True,True
64822,22852,53896,2009-09-14,2010,True,True,True
64823,22853,83574,2010-03-20,2008,True,True,False
64824,22854,80969,2010-02-25,2005,True,False,False
64825,22856,36547,2009-04-24,2009,False,False,False
64826,22856,57058,2009-10-02,2009,False,False,False
64827,22857,38974,2009-05-19,2010,False,False,False
64828,22857,71170,2009-12-31,2010,False,True,False
64829,22858,15334,2008-10-12,2010,False,False,False
64830,22858,58251,2009-10-12,2010,False,True,False
64831,22860,1171,2008-07-07,2008,False,False,False
64832,22860,44841,2009-07-07,2008,False,False,False
64833,22862,15005,2008-10-09,2009,True,True,True
64834,22862,52722,2009-09-04,2009,True,True,True
64835,22862,58050,2009-10-09,2009,True,False,True
64836,22863,88433,2010-04-30,2005,True,True,False
64837,22865,52489,2009-09-03,2005,True,True,True
64838,22865,94208,2010-06-21,2005,True,False,False
64839,22867,57963,2009-10-09,2008,True,True,True
64840,22867,78986,2010-02-17,2008,True,True,True
64841,22868,65379,2009-11-25,2010,False,False,False
64842,22868,70473,2009-12-29,2010,False,False,False
64843,22869,15768,2008-10-14,2010,True,True,True
64844,22869,58700,2009-10-14,2010,True,False,False

In [52]:
winery.head(50)

,CustomerID,OrderID,CustomerSegment,Date,ZipCode,State,Sales2008,Sales2009,Sales2010,SaleAmount,Orders2008,Orders2009,Orders2010,YearAcquired,EmailSubscr,NewsletterSubscr,WinemakerCallSubscr,EmailSales,NewsletterSales,TastingRoomSales,WinemakerCallSales,Division,Region
0,1,1532,High Roller,2008-07-08,33467,FL,213.0,30903.10,13340.94,44.00,4,8,4,2008,True,True,True,0.00,0.00,44.00,0.0,South Atlantic,South
1,1,14378,High Roller,2008-10-05,33467,FL,213.0,30903.10,13340.94,47.00,4,8,4,2008,True,True,True,0.00,0.00,47.00,0.0,South Atlantic,South
2,1,17690,High Roller,2008-10-26,33467,FL,213.0,30903.10,13340.94,57.00,4,8,4,2008,True,True,True,0.00,57.00,0.00,0.0,South Atlantic,South
3,1,19808,High Roller,2008-11-08,33467,FL,213.0,30903.10,13340.94,65.00,4,8,4,2008,True,True,True,0.00,0.00,65.00,0.0,South Atlantic,South
4,1,25406,High Roller,2009-01-02,33467,FL,213.0,30903.10,13340.94,3889.00,4,8,4,2008,True,True,True,0.00,0.00,3889.00,0.0,South Atlantic,South
5,1,26019,High Roller,2009-01-09,33467,FL,213.0,30903.10,13340.94,5410.83,4,8,4,2008,True,True,True,0.00,5410.83,0.00,0.0,South Atlantic,South
6,1,39765,High Roller,2009-05-27,33467,FL,213.0,30903.10,13340.94,1573.88,4,8,4,2008,True,True,True,0.00,0.00,1573.88,0.0,South Atlantic,South
7,1,40916,High Roller,2009-06-08,33467,FL,213.0,30903.10,13340.94,1928.73,4,8,4,2008,True,True,True,0.00,0.00,1928.73,0.0,South Atlantic,South
8,1,47301,High Roller,2009-07-27,33467,FL,213.0,30903.10,13340.94,2069.86,4,8,4,2008,True,True,True,0.00,0.00,2069.86,0.0,South Atlantic,South
9,1,57351,High Roller,2009-10-05,33467,FL,213.0,30903.10,13340.94,5747.28,4,8,4,2008,True,True,True,0.00,0.00,5747.28,0.0,South Atlantic,South
10,1,60566,High Roller,2009-10-26,33467,FL,213.0,30903.10,13340.94,7167.68,4,8,4,2008,True,True,True,7167.68,0.00,0.00,0.0,South Atlantic,South
11,1,62622,High Roller,2009-11-08,33467,FL,213.0,30903.10,13340.94,3115.85,4,8,4,2008,True,True,True,0.00,0.00,3115.85,0.0,South Atlantic,South
12,1,83701,High Roller,2010-03-20,33467,FL,213.0,30903.10,13340.94,565.86,4,8,4,2008,True,True,True,0.00,0.00,565.86,0.0,South Atlantic,South
13,1,89131,High Roller,2010-05-06,33467,FL,213.0,30903.10,13340.94,1783.59,4,8,4,2008,True,True,True,0.00,0.00,1783.59,0.0,South Atlantic,South
14,1,92067,High Roller,2010-06-04,33467,FL,213.0,30903.10,13340.94,2533.62,4,8,4,2008,True,True,True,0.00,0.00,2533.62,0.0,South Atlantic,South
15,1,94016,High Roller,2010-06-17,33467,FL,213.0,30903.10,13340.94,8457.87,4,8,4,2008,True,False,False,0.00,0.00,8457.87,0.0,South Atlantic,South
16,2,2790,High Roller,2008-07-17,98683,WA,56.0,18729.56,23416.11,56.00,1,3,5,2009,False,False,False,0.00,0.00,56.00,0.0,Pacific,West
17,2,39073,High Roller,2009-05-19,98683,WA,56.0,18729.56,23416.11,4366.00,1,3,5,2009,False,False,False,0.00,0.00,4366.00,0.0,Pacific,West
18,2,46305,High Roller,2009-07-17,98683,WA,56.0,18729.56,23416.11,8184.09,1,3,5,2009,False,False,False,0.00,0.00,8184.09,0.0,Pacific,West
19,2,67481,High Roller,2009-12-08,98683,WA,56.0,18729.56,23416.11,6179.47,1,3,5,2009,False,False,False,0.00,0.00,6179.47,0.0,Pacific,West
20,2,73785,High Roller,2010-01-18,98683,WA,56.0,18729.56,23416.11,4820.26,1,3,5,2009,False,False,False,0.00,0.00,4820.26,0.0,Pacific,West
21,2,81023,High Roller,2010-02-25,98683,WA,56.0,18729.56,23416.11,7340.91,1,3,5,2009,False,False,False,0.00,0.00,7340.91,0.0,Pacific,West
22,2,85837,High Roller,2010-04-08,98683,WA,56.0,18729.56,23416.11,2351.60,1,3,5,2009,False,False,True,0.00,0.00,0.00,2351.6,Pacific,West
23,2,89428,High Roller,2010-05-10,98683,WA,56.0,18729.56,23416.11,3586.60,1,3,5,2009,False,False,False,0.00,0.00,3586.60,0.0,Pacific,West
24,2,94019,High Roller,2010-06-17,98683,WA,56.0,18729.56,23416.11,5316.74,1,3,5,2009,False,True,True,0.00,0.00,5316.74,0.0,Pacific,West
25,3,67950,High Roller,2009-12-11,90247,CA,0.0,3022.00,25371.49,3022.00,0,0,7,2005,True,True,True,0.00,0.00,3022.00,0.0,Pacific,West
26,3,78883,High Roller,2010-02-16,90247,CA,0.0,3022.00,25371.49,2484.02,0,0,7,2005,True,True,True,0.00,2484.02,0.00,0.0,Pacific,West
27,3,83416,High Roller,2010-03-16,90247,CA,0.0,3022.00,25371.49,3317.26,0,0,7,2005,True,True,True,0.00,0.00,3317.26,0.0,Pacific,West
28,3,83787,High Roller,2010-03-21,90247,CA,0.0,3022.00,25371.49,5991.91,0,0,7,2005,True,True,True,0.00,0.00,5991.91,0.0,Pacific,West
29,3,84242,High Roller,2010-03-26,90247,CA,0.0,3022.00,25371.49,2274.95,0,0,7,2005,True,True,True,0.00,0.00,2274.95,0.0,Pacific,West
30,3,84981,High Roller,2010-03-30,90247,CA,0.0,3022.00,25371.49,4246.88,0,0,7,2005,True,True,True,0.00,0.00,4246.88,0.0,Pacific,West
31,3,88493,High Roller,2010-04-30,90247,CA,0.0,3022.00,25371.49,1839.43,0,0,7,2005,True,True,True,1839.43,0.00,0.00,0.0,Pacific,West
32,3,89832,High Roller,2010-05-13,90247,CA,0.0,3022.00,25371.49,5217.05,0,0,7,2005,True,True,False,0.00,0.00,5217.05,0.0,Pacific,West
33,4,17694,Wine Enthusiast,2008-10-26,4572,ME,0.0,3560.00,19950.13,61.00,1,1,5,2008,True,True,True,0.00,0.00,61.00,0.0,New England,Northeast
34,4,60575,Wine Enthusiast,2009-10-26,4572,ME,0.0,3560.00,19950.13,3560.00,1,1,5,2008,True,True,True,0.00,3560.00,0.00,0.0,New England,Northeast
35,4,73536,Wine Enthusiast,2010-01-17,4572,ME,0.0,3560.00,19950.13,4140.13,1,1,5,2008,True,True,True,0.00,4140.13,0.00,0.0,New England,Northeast
36,4,75201,Wine Enthusiast,2010-02-01,4572,ME,0.0,3560.00,19950.13,661.73,1,1,5,2008,True,True,True,661.73,0.00,0.00,0.0,New England,Northeast
37,4,78205,Wine Enthusiast,2010-02-14,4572,ME,0.0,3560.00,19950.13,4929.63,1,1,5,2008,True,True,True,0.00,0.00,4929.63,0.0,New England,Northeast
38,4,84980,Wine Enthusiast,2010-03-30,4572,ME,0.0,3560.00,19950.13,6283.59,1,1,5,2008,True,True,True,6283.59,0.00,0.00,0.0,New England,Northeast
39,4,92069,Wine Enthusiast,2010-06-04,4572,ME,0.0,3560.00,19950.13,3935.06,1,1,5,2008,True,False,False,0.00,0.00,3935.06,0.0,New England,Northeast
40,5,12214,Casual Visitor,2008-09-21,98042,WA,0.0,10415.23,10146.87,69.00,1,3,2,2008,False,False,False,0.00,0.00,69.00,0.0,Pacific,West
41,5,33544,Casual Visitor,2009-03-25,98042,WA,0.0,10415.23,10146.87,3694.00,1,3,2,2008,False,False,False,0.00,0.00,3694.00,0.0,Pacific,West
42,5,39427,Casual Visitor,2009-05-22,98042,WA,0.0,10415.23,10146.87,6721.23,1,3,2,2008,False,False,False,0.00,0.00,6721.23,0.0,Pacific,West
43,5,55182,Casual Visitor,2009-09-21,98042,WA,0.0,10415.23,10146.87,-0.86,1,3,2,2008,False,False,False,0.00,0.00,-0.86,0.0,Pacific,West
44,5,85093,Casual Visitor,2010-04-01,98042,WA,0.0,10415.23,10146.87,7331.12,1,3,2,2008,False,False,False,0.00,0.00,7331.12,0.0,Pacific,West
45,5,90764,Casual Visitor,2010-05-21,98042,WA,0.0,10415.23,10146.87,2815.75,1,3,2,2008,False,False,False,0.00,0.00,2815.75,0.0,Pacific,West
46,6,13339,Wine Enthusiast,2008-09-28,64124,MO,70.0,12755.46,8444.23,70.00,1,5,2,2007,True,True,True,0.00,0.00,70.00,0.0,West North Central,Midwest
47,6,34344,Wine Enthusiast,2009-04-01,64124,MO,70.0,12755.46,8444.23,2605.00,1,5,2,2007,True,True,True,2605.00,0.00,0.00,0.0,West North Central,Midwest
48,6,50211,Wine Enthusiast,2009-08-17,64124,MO,70.0,12755.46,8444.23,151.08,1,5,2,2007,True,True,True,151.08,0.00,0.00,0.0,West North Central,Midwest
49,6,60455,Wine Enthusiast,2009-10-26,64124,MO,70.0,12755.46,8444.23,3703.69,1,5,2,2007,True,True,True,0.00,0.00,3703.69,0.0,West North Central,Midwest